.navbar{
    background-color: brown;
}
.table-hover{

    width: 50%;}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.header {
width: 70vw;
display: flex;
justify-content: space-around;
align-items: center;    
text-align: center;
font-size: 18px;
margin-top: 2rem;
background-color:rgb(184, 181, 181) ;
border-radius: 10px;

}
.header p {
    margin-top: 9px;
    display: flex;
    justify-content: center;
    text-align: center;

    align-items: center;
}
.table{
    background-color:rgb(184, 181, 181) ;
    width: 70%;
}
.fa-trash{
    color: red;
}
.table{
    margin-top: 3rem;
}